*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}

/* navbar styling starts*/
.navbar{
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px;
background-color: #fff;
color: #000000;
}

.nav-links a{
color: #000000;
}

/* LOGO */
.logo{
    font-size: 32px;
}

/* NAVBAR MENU */
.menu{
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover{
background-color: hsl(31, 97%, 70%);
border-radius: 5px;
transition: 0.3s ease;
}

.menu li{
    padding: 5px 15px;
}

/* DROPDOWN MENU */
.services{
    position: relative;
}

.dropdown{
    background-color: hsl(31, 97%, 70%);
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li + li {
  margin-top: 10px;  
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
  }

  .dropdown li:hover{
    background-color: hsl(31, 97%, 70%);
  }

  .services:hover .dropdown{
    display: block;
  }

  /*RESPONSIVE NAVBAR MENU STARTS*/

/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
}

/*HAMBURGER MENU*/
.hamburger{
    display: none;
    font-size: 24px;
    user-select:none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px){
    .menu {
display: none;
position: absolute;
background-color: #fff;
right: 0;
left: 0;
text-align: center;
padding: 16px 0;
    }

    .menu li:hover{
        display: inline-block;
        background-color: hsl(31, 97%, 70%);
        transition: 0.3s ease;
    }

    .menu li + li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked ~ .menu{
        display: block;
    }

    .hamburger{
        display: block;
    }

    .dropdown{
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

    .dropdown li:hover{
        background-color: hsl(31, 97%, 70%);
    }
}

/* navbar styling ends*/

/*Hero banner*/
img{
    max-width: 100%;
}

.hero{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("./assets/img/baki.jpg");
    background-size: cover;
    background-position: center;
    padding: 150px 15px;
}

.hero .hero-container{
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.hero .hero-container h1{
    color: rgba(255, 255, 255, 0.55);
    font-size: 30px;
    margin: 0;
}

.hero .hero-container p {
    color: #FFFFFF;
    font-size: 22px;
  }

  .hero .hero-container a {
    text-decoration: none;
    background-color: #f4511e;
    background-image: linear-gradient(315deg, #f4511e 0%, #ffd57e 74%);
    color: #FFFFFF;
    padding: 12px 30px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 25px;
    transition: all 0.9s ease;
  }
  .hero .hero-container a:hover {
    background-color: #42378f;
    background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
    color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
  }

  @media (min-width: 768px) {
    .hero .hero-container h1{
      font-size: 70px;
    }
  }


/*About section starts*/

/*About section ends*/

/*Quote starts*/
.quote-msg {
    padding: 65px;
    font-size: 22px;
    font-weight: 400;
    text-align: Center;
    letter-spacing: 2px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("./assets/img/quote\ 1.webp");
    color: white;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.quote-msg h2{
    font-size: 28px;
}

/*Services section starts*/
.section-title {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: center;
}


.section-title span {
    color: #f4511e;
}

.section-content h4 {
    font-size: 30px;
}

.services-content {
    margin-bottom: 60px;
}

ul.services-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services-content li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.services-content img {
    width: 100%;
    margin-bottom: 20px;
}

.services-content li h4 {
    font-size: 25px;
    margin-bottom: 18px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}

.services-content li p {
    margin: 0;
    font-size: 22px;
}

@media (max-width: 1000px) {
    .services-content li {
        flex-basis: 100%;
        margin-bottom: 35px;
    }

    .services-content li:last-child {
        margin-bottom: 0;
    }

    .services-content li p {
        padding: 0;
    }
}
/*Services section ends*/


/*Footer styling*/
footer{
    margin-top: auto;
}

@media (max-height:8px){
    footer{
        position: static;
    }
    header{
        padding-top: 40px;
    }
}

.footer-distributed{
    background-color: #000000;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 25px 50px 15px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
display: inline-block;
vertical-align: top;
}

/*Footer left*/
.footer-distributed .footer-left{
    width: 30%
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 50%;
}

.footer-distributed h3 span{
	color:  #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #f4511e;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
.footer-left a:hover{
    color: hsl(31, 97%, 70%);
    }
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}